<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/styles.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/header.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/content.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/botones.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/annotated.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/input-file.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/twitter.css")}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/"> Home</a></li>
        <li><a href="text-analysis"> Text Analyzer</a></li>
        <li><a href="file-analysis">Document Analyzer</a></li>
        <li><a href="twitter-analysis">Twitter Analyzer</a></li>
      </ul>
    </nav>
  </header>
  <!--Estructura-->
  {%block content%}
  {%endblock%}

</body>
<script type="text/javascript" src="{{url_for("static",filename="scripts/functions.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/functions2.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-analysis-text.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-input-file.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-twitter.js")}}"></script>
</html>