<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" href="{{url_for("static",filename="styles.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="header.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="content.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="botones.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="annotated.css")}}">
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href=""> Home</a></li>
        <li><a href=""> Text Analyzer</a></li>
        <li><a href="file-analysis">Document Analyzer</a></li>
        <li><a href="">Twitter Analyzer</a></li>
      </ul>
    </nav>
  </header>
  <!--Estructura-->
  <div id="principal">
    <div id="p">
      <h2>Type Text to Analyze</h2>

      <div id="formulario">

        <form action="/" method="post">
          <div id="fusion">
            <div id="txt_area">
              <textarea name="text_area" id="input_text" cols="90" rows="16"></textarea>
            </div>
            <div id="boton">

              <button type="submit" id="btn-send"></button>
            </div>
          </div>
          <div id="botones">
            <div id="selectores">
    
              <label class="nombre">Racism</label><label class="switch"><input id ="racism" type="checkbox"><span
                  class="slider round"></span></label>
              <label class="nombre">Sexism</label><label class="switch"><input type="checkbox"><span
                  class="slider round"></span></label>
              <label class="nombre">Bullying</label><label class="switch"><input type="checkbox"><span
                  class="slider round"></span></label>
    
            </div>
    
    
            <div id="button_analyze">
              <button type="button" id="analysis">Analysis</button>
            </div>
          </div>
        </form>

      </div>

      <div id="h2-output">
        <h2>Results:</h2>
      </div>
      <div id="output">
        <div>
          {%for i in resultado%}
          {{i}}
          {% endfor %}
        </div>
      </div>
      <div id="chart" class="chart">
       
      </div>
    </div>

  </div>
</body>
<script type="text/javascript" src="{{url_for("static",filename="functions.js")}}"></script>
<script src=”https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type=”text/javascript”>
  var graphs = {{grafico | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</html>




-----------------------------------
<div id="principal_tt">

  <div id="header_tt">
      <h2>Choose a file to analyze:</h2>

  </div>
  <div id="formulario">
      <form action="/file-analysis" method="post">
          <div id="button_send">
              <button type="submit" class="boton">Submit</button>
          </div>
         

          <input type="file" id="file" name="file">

  </div>
  <div id="selectores">
      <ul>
          <li><label><input type="checkbox" name="racism" id="racism" value="racismo"> Racism</label></li>
          <li><label><input type="checkbox" id="sexism" value="sexism"> Sexism</label></li>
          <li><label><input type="checkbox" id="bullying" value="bullying"> Bullying</label></li>

      </ul>
      <div id="button_analyze">
          <button type="submit" name="analy" class="boton">Analysis</button>
      </div>
  </div>

 
</div>
<div id="dataframe">
     
  {{respuesta}}
  
</div>
<div>
  <select name="columns" id="columns">   
  {%for i in seleccion%}
  <option value={{i}}>{{i}}</option>  
  {%endfor%}
  </select>
  
</div>
</form>
<div id="salida">
  <h2 id="h">Salida</h2>
  <div>     
      {%for i in res%}          
            {{i}}
                    
      {% endfor %}        
    </div>
</div>

