{%extends 'base/base.html'%}

<!--Estructura-->
{%block content%}
<div id="main">
  <div id="m_container">
    <h2>Choose a file to Analyze</h2>

    <div id="main_form"></div>
      <form method="post" class="uploader" enctype="multipart/form-data" id="file-form">
        <div id="secondary">
          <input type="file" name="archivo" id="i_csv"  accept=".csv" />
          <label for="i_csv" id="file-drag">
            <div id="start">
              <i class="fas fa-upload" aria-hidden="true"></i>
              <div id="text_file">Select a file or drag here</div>
              <span id="file-upload-btn"> Select a file</span>
            </div>
            <div id="hdn" style="display: none">
              <span id="img"></span>
              <span id="name_f"></span>
            </div>
          </label>
        </div>

        <div id="buttons">
          <div id="selectors">
            <label class="name_selector">Racism</label><label class="switch"><input value="racism" name="chx" id="racism"
                class="checks" type="checkbox" /><span class="slider round"></span></label>
            <label class="name_selector">Sexism</label><label class="switch"><input value="sexism" name="chx" id="sexism"
                class="checks" type="checkbox" /><span class="slider round"></span></label>
          </div>

          <div id="number-rows" style="display: none;">
            <label for="n-rows">Number of rows to analyze</label>
            <input type="number" name="n-rows" id="n-rows">
            <label for="n-rows">of</label>
            <span id="num-total-rows"></span>
          </div>

          
          <div id="btn-fun">            
            <button type="button" id="btnclear" class="btn" style="display: none;"><i class="fas fa-trash"></i></button>
            <button type="button" id="btncln" class="btn" style="display: none;"><i class=" fas fa-broom"></i></button>
            <button type="submit" id="btn-send" class="btn" ><i class=" fas fa-play"></i></button>

          </div>
        </div>
      </form>
   

   
    <div id="warning"></div>
    <div id="tbl"></div>

    <div id="output_main" style="display: none;">
     
        <h2>Analysis Results:</h2>
     
      <div id="output_group">
        <div id="output_secondary_file">

        </div>
        <div class="chart-container">
          <canvas id="fileChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- <button id="btnCrearPdf" class="btn">Click</button>
 -->

{%endblock%}