<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for("static",filename="styles.css")}}">
</head>

<body>
    <nav id="nav_menu">
        <ul class="menu">
            <li><a href=""> Home</a></li>
            <li><a href=""> Text Analyzer</a></li>
            <li><a href="">Document Analyzer</a></li>
            <li><a href="">Twitter Analyzer</a></li>
        </ul>
    </nav>
    <div id="principal_tt">

        <div id="header_tt">
            <h2>Choose a file to analyze:</h2>

        </div>
        <div id="formulario">
            <form action="/file-analysis" method="post">
                <div id="button_send">
                    <button type="submit" class="boton">Submit</button>
                </div>
               

                <input type="file" id="file" name="file">

        </div>
        <div id="selectores">
            <ul>
                <li><label><input type="checkbox" name="racism" id="racism" value="racismo"> Racism</label></li>
                <li><label><input type="checkbox" id="sexism" value="sexism"> Sexism</label></li>
                <li><label><input type="checkbox" id="bullying" value="bullying"> Bullying</label></li>

            </ul>
            <div id="button_analyze">
                <button type="submit" name="analy" class="boton">Analysis</button>
            </div>
        </div>

       
    </div>
    <div id="dataframe">
           
        {{respuesta}}
        
    </div>
    <div>
        <select name="columns" id="columns">   
        {%for i in seleccion%}
        <option value={{i}}>{{i}}</option>  
        {%endfor%}
        </select>
        
    </div>
</form>
    <div id="salida">
        <h2 id="h">Salida</h2>
        <div>     
            {%for i in res%}          
                  {{i}}
                          
            {% endfor %}        
          </div>
    </div>

</body>

</html>