{%extends 'base/base.html'%}

<!--Estructura-->
{%block content%}
<div id="principal">
  <div id="p">
    <h2>Choose a file to Analyze</h2>

    <div id="formulario">
      <form method="post" class="uploader" enctype="multipart/form-data" id="formuu">
        <div id="secondary">
          <input type="file" name="archivo" id="i_csv" required accept=".csv,application/pdf" />
          <label for="i_csv" id="file-drag">
            <div id="start">
              <i class="fas fa-download" aria-hidden="true"></i>
              <div id="text_file">Select a file or drag here</div>
              <span id="file-upload-btn"> Select a file</span>
            </div>
            <div id="hdn" style="display: none">
              <span id="img"></span>
              <span id="name_f"></span>
            </div>
          </label>
        </div>

        <div id="botones">
          <div id="selectores">
            <label class="nombre">Racism</label><label class="switch"><input value="racism" name="chx" id="racism"
                type="checkbox" /><span class="slider round"></span></label>
            <label class="nombre">Sexism</label><label class="switch"><input value="sexism" name="chx" id="sexism"
                type="checkbox" /><span class="slider round"></span></label>
            <label class="nombre">Bullying</label><label class="switch"><input value="bullying" name="chx" id="bullying"
                type="checkbox" /><span class="slider round"></span></label>
          </div>

          <div id="button_analyze">
            <button type="button" id="analysis" class="btn">Chart</button>
          </div>
          <div id="boton-cln">
            <button type="button" id="btncln" class="btn">Clean</button>
          </div>
          <div id="boton">
            <button type="submit" id="btn-send" class="btn">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div id="tbl"></div>

    <div id="salida" style="display: none;">
      <div id="h2-output">
        <h2>Results:</h2>
      </div>
      <div id="ff">
        <div id="output_file">

        </div>
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>

{%endblock%}