
{%extends 'base/base.html'%}
  <!--Estructura-->
  {%block content%}
  <div id="principal">
    <div id="p">
      <h2>Type Text to Analyze</h2>

      <div id="formulario">

        <form action="/text-analysis" method="post">
          <div id="fusion">
            <div id="txt_area">
              <textarea name="text_area" id="input_text" cols="90" rows="16"></textarea>
            </div>
            <div id="boton">

              <button type="submit" id="btn-send"></button>
            </div>
          </div>
          <div id="botones">
            <div id="selectores">
    
              <label class="nombre">Racism</label><label class="switch"><input id ="racism" type="checkbox"><span
                  class="slider round"></span></label>
              <label class="nombre">Sexism</label><label class="switch"><input type="checkbox"><span
                  class="slider round"></span></label>
              <label class="nombre">Bullying</label><label class="switch"><input type="checkbox"><span
                  class="slider round"></span></label>
    
            </div>
    
    
            <div id="button_analyze">
              <button type="button" id="analysis">Analysis</button>
            </div>
          </div>
        </form>

      </div>

      <div id="h2-output">
        <h2>Results:</h2>
      </div>
      <div id="output">
        <div>
          {%for i in resultado%}
          {{i}}
          {% endfor %}
        </div>
      </div>
      <div id="chart" class="chart">
       
      </div>
    </div>

  </div>
  {%endblock%}
