{%extends 'base/base.html'%}
<!--Estructura-->
{%block content%}
<div id="principal">
    <div id="p">
        <h2>Type URL of twitter to Analyze</h2>

        <div id="formulario_twitter">
            <form method="post" id="twitter-text">
                <div id="input_group">
                    <div id="option_twitter">
                        <select name="tags" id="tags">
                            <option name="opt" id="opt" value="hashtag">&#xf292;</option>
                            <option name="opt" id="opt" value="user">&#xf007;</i></option>
                            <option name="opt" id="opt" value="url">&#xf0c1;</i></option>
                        </select>
                    </div>
                    <div id="input_tweet">
                        <input type="text" name="url_tweet" id="url_tweet">
                    </div>
                </div>
                <div id="botones">
                    <div id="selectores">
                        <label class="nombre">Racism</label><label class="switch"><input value="racism" name="chx"
                                id="racism" type="checkbox" /><span class="slider round"></span></label>
                        <label class="nombre">Sexism</label><label class="switch"><input value="sexism" name="chx"
                                id="sexism" type="checkbox" /><span class="slider round"></span></label>
                        <!-- <label class="nombre">Bullying</label><label class="switch"><input value="bullying" name="chx"
                                id="bullying" type="checkbox" /><span class="slider round"></span></label> -->
                    </div>

                 

                    <div id="btn-fun">
                        <div id="boton-cln">
                            <button type="button" id="btncln" class="btn"><i class="fas fa-trash"></i></button>
                        </div>
                        <div id="boton">
                            <button type="submit" id="btn-send" class="btn"><i class="fas fa-play"></i></button>
                        </div>
                    </div>
            </form>
        </div>

        <div id="salida">
            <div id="h2-output">
                <h2>Results:</h2>
            </div>

            <div id="ff">
                <div id="output_twitter">
                    
                </div>
                <div class="chart-container">
                  <canvas id="twitterChart"></canvas>
                </div>
              </div>
        </div>


    </div>
</div>
{%endblock%}