#principal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#p {
  padding-top: 14px;

  width: 65%;
  padding-left: 50px;
}

#formulario {
  padding-top: 20px;
  
  width: 1100px;
}

#fusion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 1100px;
}

#boton {
  margin-left: 30px;
  width: 120px;
  height: 50px;
  margin-top: 285px;
 
}

#btn-send {
  background: url(https://i.ibb.co/sg66mQV/image.png) no-repeat center center;
  width: 120px;
  height: 46px;
  border-radius: 17px;
  background-color: #fff;
  border: 1px solid #02bb8c;
}

#btn-send:hover {
  background: url(https://i.ibb.co/HtcfcgY/image-1.png) no-repeat center center;
  background-color: #02bb8c;
  border: 1px solid #02bb8c;
}

/* TEXT AREA */

#input_text {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 14px;
  padding: 6px;
  width: 926px;
  font-size: 17px;
  -webkit-box-shadow: 1px 10px 30px 18px rgba(209, 208, 213, 1);
  -moz-box-shadow: 1px 10px 30px 18px rgb(35, 14, 119);
  box-shadow: 1px 10px 30px 18px rgba(209, 208, 213, 1);
  resize: none;
}

#input_text:focus {
  outline: none;
}
#botones {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;

  width: 926px;
  align-items: flex-end;
  justify-content: space-between;
}
#selectores {
  background: #fff;
  
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid rgb(202, 202, 202);
  width: 426px;
  border-radius: 14px;
}
#h2-output {
  margin-top: 14px;
}
#output {
  margin-top: 10px;
  height: auto;
  width: 926px;
  padding: 6px;
  border-radius: 14px;
  background: #fff;
  text-align: justify;
  border: 1px solid rgb(202, 202, 202);
  -webkit-box-shadow: 1px 10px 30px 18px rgba(209, 208, 213, 1);
  -moz-box-shadow: 1px 10px 30px 18px rgb(35, 14, 119);
  box-shadow: 1px 10px 30px 18px rgba(209, 208, 213, 1);
}
