<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/styles.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/header.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/content.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/botones.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/annotated.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/input-file.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/twitter.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/responsive_text_analysis.css")}}">
  <link rel="stylesheet" href="{{url_for("static",filename="CSS/responsive_file.css")}}">

  <script src="https://kit.fontawesome.com/7615de3938.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.0/dist/chart.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>  
  <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js" ></script>  
  <script src=" https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js" ></script>  
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">  
  <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
  <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

</head>

<body>
 
    <nav>
      <ul class="menu">
        <li><a href="/"> Home</a></li>
        <li><a href="text-analysis"> Text Analyzer</a></li>
        <li><a href="file-analysis">Document Analyzer</a></li>
        <li><a href="twitter-analysis">Twitter Analyzer</a></li>
      </ul>

      <!-- <div class="hide">
        <i class="fa fa-bars" aria-hidden="true"></i> Menu
      </div> -->
    </nav>

  <!--Estructura-->
  {%block content%}
  {%endblock%}

</body>
<script type="text/javascript" src="{{url_for("static",filename="scripts/functions2.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-analysis-text.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-input-file.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/ajax-twitter.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/banner.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/checker.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/checkbox-functions.js")}}"></script>
<script type="text/javascript" src="{{url_for("static",filename="scripts/html2pdf.bundle.min.js")}}"></script> 
<script type="text/javascript" src="{{url_for("static",filename="scripts/exportPDF.js")}}"></script>

</html>
