#secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1000px;
}

#i_csv {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file-drag {
  font-size: 14px;
  width: 1000px;
  height: 260px;
  border: 3px solid #eee;
  border-radius: 14px;
  background: #fff;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

#file-drag:hover {
  border: 3px solid #454cad;
}

#start {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#hdn {
  flex-flow: column wrap;
  align-items: center;
  font-size: 18px;
}

.fa-download {
  padding: 2px;
  font-size: 24px;
}

#text_file {
  padding: 10px;
}

#file-upload-btn {
  background: #02bb8c;
  font-size: 15px;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

#tbl {
  margin-top: 20px;
  background: #fff;
  width: 1000px;
  height: 280px;
  overflow: scroll;
  display: none;
}

table {
  background: #fff;
  border-collapse: collapse;
  width: 1000px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th:hover {
  cursor: pointer;
  background: #02bb8c;
}


tr:nth-child(even) {
  background-color: #dddddd;
}