@media (min-width: 768px) {
  body {
    width: 100%;
  }

  #text_area {
    width: 680px;
    height: 280px;
  }
  #p {
    width: 768px;
  }
  #botones {
    width: 680px;
  }
  #btn-fun {
   
    width: auto;
  }
  #selectores {
    width: 320px;
  }
  #number-rows {
    width: 380px;
  }
  #n-rows {
    width: 60px;
    font-size: 16px;
  }

  #h2-output {
    margin-top: 14px;
  }


  #output {
    height: 300px;
    width: 680px;
  }
}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 1000px) {
  body {
    width: 100%;
  }

  #text_area {
    width: 750px;
    height: 280px;
  }
  #p {
    width: 900px;
  }
  #botones {
    width: 750px;
  }

  #selectores {
    width: 320px;
  }
  #number-rows {
    width: 380px;
  }
  #n-rows {
    width: 60px;
    font-size: 16px;
  }

  #h2-output {
    margin-top: 14px;
  }

  #ff {
    width: 600px;
  }

  #output {
    height: 300px;
    width: 750px;
  }
}

@media (min-width: 1150px) {
  body {
    width: 100%;
  }

  #text_area {
    width: 1010px;
  }
  #p {
    width: 1100px;
  }
  #botones {
    width: 1010px;
  }

  #selectores {
    width: 320px;
  }
  #number-rows {
    width: 380px;
  }
  #n-rows {
    width: 60px;
    font-size: 16px;
  }

  #h2-output {
    margin-top: 14px;
  }

  #output {
    height: 400px;
    width: 1010px;
  }
}
