#url_tweet{
    width: 600px;
    height: 34px;
    border-radius: 4px;
    border: 2px solid rgb(202, 202, 202);
}

#option_twitter{
  
    width: 100px;
    margin-right: 14px;
}

#input_group{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
  
    width: 1000px;
    
}
select{
    width: 100px;
    height: 34px;
    border-radius: 4px;
    background: white;
    font-size: 20px;
    
}
